<div id="story_form">
  <%= form_for @new_story do |f| %>
    <% f.label :body %>
    <%= f.text_field :body, placeholder: "What's goin' on, #{current_user.name}?" %><br />
    <%= f.submit %>
  <% end %>
</div>
